.table__container {
  overflow-x: auto;
}

.table {
  table-layout: fixed;
  margin-bottom: 2rem;
}
.table tr {
  border-top: 1px solid var(--border-color-alt);
}
.table tr:last-child {
  border-bottom: 1px solid var(--border-color-alt);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
  width: 216px;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
  width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3) {
  width: 220px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4) {
  width: 200px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5) {
  width: 216px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
  width: 152px;
}

table .table__img {
  width: 60%;
}
.table tr th,
.table tr td {
  padding: 0.5rem;
  text-align: center;
}

.table__title,
.table__description,
.table__price,
.table__subtotal,
.table__stock {
  font-size: var(--small-font-size);
}
.table__trash {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.table__title,
.table__stock {
  color: var(--first-color);
}

.table__description {
  max-width: 250px;
  margin-inline: auto;
}

.table__trash {
  color: var(--text-color-light);
}

.cart__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .btn {
    padding: 0.5rem 1.5rem;
    img {
      height: 20px;
      width: 20px;
      object-fit: contain;
    }
  }
}

.divider {
  position: relative;
  text-align: center;
  margin-block: 3rem;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--border-color-alt);
}

.divider img {
  position: relative;
  z-index: 1;
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.cart__group {
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}

.cart__shipping .section__title,
.cart__coupon .section__title,
.cart__total .section__title {
  font-size: var(--large-font-size);
  margin-bottom: 1rem;
}

.cart__coupon {
  margin-top: 3rem;
}

.coupon__form .form__group {
  align-items: center;
}

.cart__total {
  border: 1px solid var(--border-color-alt);
  padding: 1.75rem;
  border-radius: 0.25rem;
}

.cart__total-table {
  margin-bottom: 1rem;
}

.cart__total-table tr td {
  border: 1px solid var(--border-color-alt);
  padding: 0.75rem 0.5rem;
  width: 50%;
}

.cart__total-title {
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
}

.cart__total .btn {
  display: inline-flex;
}
