@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Yatra+One&display=swap');

@font-face {
  font-family: 'Bangers';
  src: url('assets/fonts/Bangers.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Feast-of-flesh_Italic';
  src: url('assets/fonts/fofbbital.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Feast-of-flesh';
  src: url('assets/fonts/fofbbreg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helsinki';
  src: url('assets/fonts/helsinki.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ka-blam';
  src: url('assets/fonts/kaBlam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ka-blam-Bold';
  src: url('assets/fonts/kablamunder.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Outrun';
  src: url('assets/fonts/outrunfuture.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Outrun-bold';
  src: url('assets/fonts/outrunfuturebold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Outrun-Italic';
  src: url('assets/fonts/outrunfuturebolditalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
